<%- include("partials/header"); -%>
<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Take stuff off your mind. Start Writing!!</p>
    


  </div>
</div>

<%- include("partials/footer"); -%>
